.dashboard {
    position: relative;
    min-height: 100vh;
    padding: 20px;
    color: white;
    overflow: hidden;
}

.dashboard-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
}
